
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: black;
}
.task span{
    padding-right: 25px;
}

.task .delete{
    margin-left: 25px;
    background-color: red;
    color: white;
}

.finishdate{
    margin-top: 0;
    font-size: 14px;
    font-style: italic;
    text-align: left;
}